.button {
  width: 50%;
  text-align: center;
  font-size: 14px;
  padding: 10px 25px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}


  
  .button-primary {
    background-color: #031640; 
    color: white;
  }
  
  .button-primary:hover {
    background-color: #28385b; 
    }
  
  .signup-link:hover {
    color: #031640; 
    transition: color 0.7s;
}

.round-image {
  border-radius: 50%; 
  width: 60px; 
  height: 60px; 
}
.custom-bg {
  background-color: #F8F2E9; 
}

